# CodeIgniter 4 .gitignore
.env
.env.backup
.phpunit.result.cache

# Logs
*-access_log
*-error_log
*.log

# Vendor
vendor/

# Writable
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
!writable/index.html
!writable/.gitkeep

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
