<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Send empty request to public/
    RewriteRule ^$ public/ [L]
    
    # If the file/dir does not exist in root, rewrite to public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
